<%- include('header')%>



    <h1>Home Ejs File</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi voluptates corrupti itaque quae eveniet,
        exercitationem vitae ipsam nisi vel porro sapiente, molestias labore! Enim beatae possimus odio quasi, minus, in
        et dolores, sequi tempora error est nisi adipisci? Pariatur totam impedit nam corrupti quas magnam ipsam nobis,
        necessitatibus hic eum.</p>

    <%- include('footer')%>