body
{
    background-color: rgb(238, 238,238);
  
}
h2
{
    color: orange;
}
#header
{
    height: 40px;
    width: 100%;
}
ul li 
{
    float: left;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
}